@page "/pulse-demo"

<h3>Pulse Demo</h3>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  width="373.67349"
  height="523.1428"
  viewBox="0 0 747.34698 1046.2856"
   version="1.0">
  <defs>
    <inkscape:perspective
       sodipodi:type="inkscape:persp3d"
       inkscape:vp_x="0 : 526.18109 : 1"
       inkscape:vp_y="0 : 1000 : 0"
       inkscape:vp_z="744.09448 : 526.18109 : 1"
       inkscape:persp3d-origin="372.04724 : 350.78739 : 1"
       id="perspective10" />
    <inkscape:perspective
       id="perspective2390"
       inkscape:persp3d-origin="372.04724 : 350.78739 : 1"
       inkscape:vp_z="744.09448 : 526.18109 : 1"
       inkscape:vp_y="0 : 1000 : 0"
       inkscape:vp_x="0 : 526.18109 : 1"
       sodipodi:type="inkscape:persp3d" />
  </defs>

  <style>
    .pulse {
      transform-box: fill-box;
      transform-origin: 50% 50%;
      animation: clubPulse 2s ease-in-out infinite;
    }
    @@keyframes clubPulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.25); }
      100% { transform: scale(1); }
    }
  </style>

  <!-- Card border -->
  <rect x="5" y="5" width="737.34698" height="1036.2856" rx="24" ry="24" fill="white" stroke="#222" stroke-width="10" />

  <g transform="translate(2.2448993,-0.6479052)">
    <g transform="translate(-2.0407968,-11.714273)">
      <g>
        <g id="g2751" transform="translate(2.7682687,0.6819287)">
          <text
             style="font-size:144px;font-style:normal;font-weight:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Arial"
             x="62.585888"
             y="158.36212"><tspan
               style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:Arial Narrow;-inkscape-font-specification:Arial Narrow"
               x="62.585888"
               y="158.36212">A</tspan></text>
          <text
             y="298.36212"
             x="62.6562"
             class="pulse"
             style="font-size:144px;font-style:normal;font-weight:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Arial"><tspan
               y="298.36212"
               x="62.6562"
               style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;text-anchor:middle;font-family:Arial Narrow;-inkscape-font-specification:Arial Narrow">♣</tspan></text>
        </g>
        <use
           x="0"
           y="0"
           xlink:href="#g2751"
           transform="matrix(-1,0,0,-1,746.93878,1071.01)"
           width="747.34698"
           height="1046.2856" />
      </g>
      <text
         style="font-size:500px;font-style:normal;font-weight:normal;text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;font-family:Arial"
         x="373.59146"
         y="685.77356"
         class="pulse"><tspan
           x="373.59146"
           y="685.77356">♣</tspan></text>
    </g>
  </g>
</svg>